<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Parking Genie Template</title>
    <link rel="shortcut icon" type="image/png" href={% static 'parkingGenie/favicon.png'%}>
    <link rel="stylesheet" href={% static 'parkingGenie/main.css'%}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></head>
<body onload="init()">
    <h1>Event: {{eventInfo.name}}</h1>
    <h2>Date: {{eventInfo.date}}</h2>
    <h2>Time: {{eventInfo.startTime}}</h2>
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <ul id="lotList">
                    {% for Lot in lotList %}

                    <li data-distance={{Lot.distance}} data-price={{Lot.price}} {% if Lot.hasTailGate%} data-tailgate {%else%} {%endif%}>
                        <div class="card" style="width: 18rem;">

<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title"><a> Location: {{Lot.address}} </a></h5>-->
<!--                                    <p class="card-text">Info about the lot</p>-->
<!--                                </div>-->
<!--                                <ul class="list-group list-group-flush">-->
<!--                                    <li class="list-group-item">Distance: {{Lot.distance}} Miles</li>-->
<!--                                    <li class="list-group-item">Price: ${{Lot.price}}</li>-->
<!--                                    <li class="list-group-item">Open spots: {{Lot.openSpots}}</li>-->
<!--                                    <li class="list-group-item">-->
<!--                                        {% if Lot.hasTailGate %}-->
<!--                                            Tail gate spots available-->
<!--                                        {% else %}-->
<!--                                            No Tail gate spots available-->
<!--                                        {% endif %}-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <div class="card-body">-->
<!--                                    <a href="#" class="card-link">Card link</a>-->
<!--                                    <a href="#" class="card-link">Another link</a>-->
<!--                                </div>-->

                            <div class="card-body">
                                <h5 class="card-title"><a> Location: {{Lot.address}} </a></h5>
                                <h5>Price: ${{Lot.price}}</h5>
                            </div>
                            <ul class="list-group list-group-flush">

                                <h5> Distance: {{Lot.distance}} Miles</h5>
                                <h5> Open spots: {{Lot.openSpots}} </h5>
                                <h5> Open spots: {{Lot.openSpots}} </h5>
                                {% if Lot.hasTailGate %}
                                    <h5> Tail gate spots available </h5>
                                {% else %}
                                    <h5> No Tail gate spots available </h5>
                                {% endif %}
                            </ul>
                            <div class="card-body">
                                <a class="btn btn-primary" href="checkOut?lot={{Lot.lotID}}&event={{eventInfo.name}}" role="button">Purchase</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-4">
                <div>
                    <h2> Sort </h2>
                    <form id="sort_form">
                        <input type="radio" id="lowToHighPrice" name="sort" value="lowToHighPrice" checked onclick="priceLowtoHigh()">
                        <label for="lowToHighPrice">Price low to high</label><br>
                        <input type="radio" id="highToLowPrice" name="sort" value="highToLowPrice" onclick="priceHightoLow()">
                        <label for="highToLowPrice">Price high to low</label><br>
                        <input type="radio" id="lowToHighDistance" name="sort" value="lowToHighDistance" onclick="distanceShort()">
                        <label for="lowToHighDistance">Shortest Distance</label><br>
                        <input type="radio" id="highToLowDistance" name="sort" value="highToLowDistance" onclick="distanceLong()">
                        <label for="highToLowDistance">Longest Distance</label><br>
                    </form>
                </div>
                <div>
                    <h2> Tail gate preference </h2>
                    <form id="tailgate_filter">
                        <input type="radio" id="anyTailgate" name="filter" value="anyTailgate" checked onclick="anyTailgates()">
                        <label for="anyTailgate">Any</label><br>
                        <input type="radio" id="hasTailgate" name="filter" value="hasTailgate" onclick="tailgates()">
                        <label for="hasTailgate">Tailgate available</label><br>
                        <input type="radio" id="noTailgate" name="filter" value="noTailgate" onclick="noTailgates()">
                        <label for="noTailgate"> Tailgate unavailable</label><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src={%static 'parkingGenie/lotSearch.js'%} ></script>

</body>

</html>