<!DOCTYPE html>
<html lang="en">
<head>
	<title>Account Management</title>
	<link rel="shortcut icon" type="image/png" href="../../static/parkingGenie/favicon.png">
	<link rel="stylesheet" href="../../static/parkingGenie/main.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
	<center><h1 class="display-2">User Account Info</h1></center>
	<div class="wrapper"?>
		<center><h2>{{ userName }}</h2></center>
		<center><h2>{{userEmail}}</h2></center>
<!--		<li>Name <input type="text" value="{{ account.name }}">-->
<!--		<li>Email/Username <input type="text" value="{{ account.usrName }}">-->
<!--			<% for option in account.info_list.all %}-->
<!--		<li>{{ option.title }} <input type="text" value="{{ option.val }}">-->
		<br>
		<a class="btn btn-primary" href="dashBoard" role="button">To DashBoard</a>
		<a class="btn btn-primary" href="#" role="button">Edit Account Details</a>
	</div>
</body>
</html>